/* regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole body */
body {
    background-color: #f6f8fa;
    font-family: Arial, Helvetica, sans-serif;
}

/* main header */

header {
    height: 100px;
    background-color: white;
    line-height: 100px;
    padding-left: 30px;
}

#logo {
    height: 70px;
    vertical-align: middle;
}

#logo-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

/* contenitore principale */
#contenitore-principale {
    height: 400px;
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 5px;
    margin-top: 30px;
}


/*sezione interazione */
.contenitore-pulsanti {
    padding: 10px 35px;
}

#button1 {
    background-color: #43aef3 ;
    border: solid 1px;
    border-color: #ccccca;
    border-radius: 5px;
    padding: 5px 8px;
    color: white;
}

#button2 {
    background-color: white;
    border: solid 1px;
    border-color: #ccccca;
    border-radius: 5px;
    padding: 5px 8px;
    color: #ccccca;
}

#linea {
    border: 0;
    height: 1px;
    background-color: #f6f8fa;
}


